@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
}

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

/* Header */

nav .navbar-nav .nav-link {
  color: var(--grayish-blue);
}

nav .navbar-nav .nav-link:hover {
  border-bottom: 3px solid var(--lime-green);
  color: black;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn-primary {
  background-color: inherit;
  border: none;
}

.btn-primary:focus {
  background-color: white;
  border-color: none;
  color: hsl(0, 0%, 100%);
  box-shadow: none;
}
.offcanvas {
  height: 80vh;
}

.offcanvas-body {
  display: flex;
  justify-content: center;
  align-content: center;
}

.offcanvas-item {
  display: flex;
  justify-content: center;
  align-content: center;
}
/* Intro */
#intro .intro-img {
  background-image: url("/images/bg-intro-mobile.svg");
  background-color: var(--white);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#intro .intro-text h1 {
  font-family: "Public Sans";
  font-size: 2rem;
  font-weight: 400;
  color: black;
}

#intro .intro-text p {
  font-family: "Public Sans";
  font-size: 0.8rem;
  color: var(--grayish-blue);
  line-height: 1.5;
}

#intro .intro-text .btn-intro,
.btn-footer,
.btn-nav {
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%) 0%,
    #93edc7 51%,
    hsl(233, 26%, 24%) 100%
  );
  padding: 10px 20px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 50px;
  border: none;
}

#intro .intro-text .btn-intro:hover,
.btn-footer:hover,
.btn-nav:hover {
  color: #fff;
  text-decoration: none;
  opacity: 70%;
}

/* Choose */
#choose {
  background-color: var(--very-light-gray);
}

#choose .choose-header h2,
#article .article-header h2 {
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-size: 400;
  padding: 0 200px;
}

#choose .choose-header p {
  font-family: "Public Sans";
  font-size: 0.8rem;
  color: var(--grayish-blue);
}

#choose .choose-tabs .choose-tab h3 {
  font-family: "Public Sans";
  font-size: 1.5rem;
}

#choose .choose-tabs .choose-tab p {
  font-family: "Public Sans";
  font-size: 0.8rem;
  color: var(--grayish-blue);
  padding: 0px 300px;
}

/* Article */
#article .article-content .card {
  max-width: 18rem;
  --bs-gutter-x: 0rem;
  font-family: "Public Sans";
  border: none;
}
#article .article-content .card-body {
  background-color: var(--very-light-gray);
}
#article .article-content .card-body .card-author {
  font-size: 0.6rem;
  color: var(--grayish-blue);
}
#article .article-content .card-body .card-header {
  font-size: 1rem;
  padding: 0;
  background-color: inherit;
  font-weight: 400;
  border-bottom: none;
}

#article .article-content .card-body .card-text {
  font-size: 0.7rem;
  line-height: 1.3;
  color: var(--grayish-blue);
}

#article .article-content .card-body .card-header:hover {
  color: var(--lime-green);
  transition: 0.3s ease-in-out;
}

/* Footer */
.footer {
  background-color: var(--dark-blue);
  font-family: "Public Sans";
}

.footer ul {
  list-style-type: none;
  text-decoration: none;
}
.footer ul li a {
  text-decoration: none;
  color: var(--light-grayish-blue);
  font-size: 0.8rem;
}

.footer ul li a:hover {
  color: var(--lime-green);
  transition: all 0.3s;
}

.footer .footer-text {
  font-size: 0.8rem;
  color: var(--grayish-blue);
}

.footer .footer-logo img svg g path ::-ms-fill {
  color: hsl(0, 0%, 100%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 786px) {
  section #intro {
    background-image: url("/images/bg-intro-desktop.svg");
    background-repeat: repeat;
    background-size: contain;
    position: relative;
  }
  #intro .intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0 2000px 0px 0px;
  }
  #intro .intro-text h1 {
    font-size: 32px;
    padding: 0 2000px 0px 0px;
  }
  #intro .intro-text p {
    font-size: 18px;
  }

  #intro .intro-img {
    background-image: none;
  }
}
